@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #808080;
  --foreground: black;
  --text-color : #101820;
}

[data-theme='dark'] {
  color-scheme: dark;
  --background: #101820;
  --foreground: white;
  --text-color: white;
}

* {font-family: 'Roboto','Lalezar',sans-serif;}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.x {
  background-color: #101820;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 4px 1px rgb(177 177 177 / 57%);

}
.x:hover{
  background-color: transparent;

  
}


html {
  scroll-behavior: smooth;
}

@media (max-width :1024px) {

  .x:hover{
  background-color: #ebd400;

  
}
}


.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: transparent;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px rgb(204, 204, 204);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
  background-color: rgb(110, 110, 110);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}